.row, .row1{
    display: flex;
}
.row div{
    background-color: black;
    min-height: 200px;
    width: 20%;
}
.row div:nth-child(even){
    background-color: yellow;
}
.row1 div{
    background-color: black;
    min-height: 200px;
    width: 20%;
}
.row1 div:nth-child(odd){
    background-color: yellow;
}